langchain
langchain-community
duckduckgo-search
langchain-tavily
fastmcp
python-dotenv
linkedin_jobs_scraper
pandas
langchain_nvidia_ai_endpoints
docx2txt
scikit-learn
PyMuPDF
torch
torchvision
torchaudio
sentencepiece
tqdm
numpy